body {
    background: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.tab {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 5px;
    margin-top: 20px;
}

.celula {
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background: #1e293b;
    color: white;
}

.acerto {
    background: green;
}

.erro {
    background: red;
}
